html, body{
    height: 100%;
}
body{
    background: url(/img/prism.png);
    animation: change 10s ease-in-out infinite;
    position: relative;
    margin: 0;
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.wrapper{
    max-width: 822px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__title{
    position: relative;
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 5px;
    border-bottom: 3px solid white;
    background: url(/img/title-animation.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}
@keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

.snake{
    opacity: 0;
    position: absolute;
    margin-top: 300px;
}
.timetable{
    margin: 0 0 30px 0;
}
.timetable__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.timetable__item {
    min-width: 264px;
}
.item__title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: rgb(238, 255, 0);
    position: relative;
}
.item__title-zvonki{
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: rgb(230, 255, 90);
}
.item__column {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgb(78 44 44 / 19%);
}
.column__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 392px;
    padding-top: 25px;
}

.nextDay::before{
    content: 'Завтра';
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 13px;
    color: rgba(144, 235, 39, 0.76);
}

.list__item {
    font-size: 24px;
    line-height: 33px;
}
.list__item:not(last-child){
    margin-bottom: 18px;
}
.list__item:last-child{
    padding-bottom: 10px;
}
.green{
    color:rgb(5, 253, 241);
    border: 1px solid rgb(112, 242, 251);
    border-radius: 10px;
}
.red{
    color: rgb(201, 255, 23);
    border: 1px solid rgb(30, 221, 205);
    border-radius: 10px;
}
.lesson{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: rgb(255 66 66);
    border-bottom: 3px dashed rgb(71 199 221 / 80%);
    position: relative;
}
.lesson::before{
    content:'Сейчас:';
    font-size: 20px;
    margin-right: 10px;
    color:#FD746C;
    position: absolute;
    top: -12px;
}
.italic{
    font-style: italic;
}
/********************************************Timer*********************************/
.timer__container {
    max-width: 350px;
    min-width: 300px;
}
.timers{
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
    flex-wrap: wrap;
    min-width: 550px;
}
.timer__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 3px solid #fff;
    border-radius: 10px;
    padding-top: 30px;
}
.timer__body span{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.timer__body::after{
    content:'До конца учебного дня';
    position: absolute;
    font-size: 15px;
    left: 19%;
    top: -3%;
}
.timer-hours {
    padding-left: 15px;
    position: relative;
}
.timer-minutes{
    position: relative;
}
.timer-seconds {
    padding-right: 15px;
    position: relative;
}
.timer-hours::before{
    content: 'Часа';
    font-size: 15px;
    position: absolute;
    left: 35%;
    top: -5%;
    margin-top: -5px;
}
.timer-minutes::before{
    content: 'Минут';
    font-size: 15px;
    position: absolute;
    left: 10%;
    top: -5%;
    margin-top: -5px;
}
.timer-seconds::before{
    content: 'Секунд';
    font-size: 15px;
    position: absolute;
    top: -5%;
    margin-top: -5px;
}

.time{
    font-size: 50px;
}
.time2{
    font-size: 50px;
}
.timer-minutes2{
    padding-left: 25px;
}
.timer-minutes2::before{
    content: 'Минут';
    font-size: 15px;
    position: absolute;
    left: 9.5%;
    top: 20%;
}
.timer-seconds2::before{
    content: 'Секунд';
    font-size: 15px;
    position: absolute;
    top: 20%;
}
.timer-seconds2{
    padding-right: 25px;
}
.timerlesson__body{
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 3px solid #fff;
    border-radius: 10px;
    padding-top: 30px;
}
.endLesson::after{
    content:"До конца урока";
    position: absolute;
    font-size: 15px;
    color: red;
    left: 29%;
    top: -3%;
}
.endSchoolBreak::after{
    content:"До конца перемены";
    position: absolute;
    font-size: 15px;
    color: rgb(18, 231, 18);
    left: 24%;
    top: -3%;
}
.timerlesson__body span{
    display: flex;
    align-items: center;
    font-size: 35px;
}

/*************************************modal-list************************************/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 777;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.modal:target{
    opacity: 1;
    visibility: visible;
}
.modal:target .modal__body{
    transform: translate(0px, 0px);
    opacity: 1;
}
.modal__open{
    position: absolute;
    left: 30%;
    top: 7%;
    text-decoration: none;
    color: #fff;
}
.modal__body{
    margin-top: 5%;
    margin-left: 40%;
    background-color: rgba(245, 248, 248, 0.83);
    max-width: 330px;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    transform: translate(0px, -100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.modal__open:hover{
    color: red;
    cursor: pointer;
}

.modal__close{
    font-size: 30px;
    margin-top: -35px;
    position: relative;
    color: red;
    cursor: pointer;
    text-decoration: none;
}
.modal__item{
    list-style-type: none;
    color: #000;
}
.modal__item:not(:last-child){
    padding-bottom: 7px;
}
.modal__item:nth-child(17){
    position: relative;
}
.modal__item:nth-child(17)::after{
    content: '';
    background-image: url(/img/tools-Icon.svg);
    position: absolute;
    left: -9%;
    top: -10%;
    width: 30px;
    height: 30px;
}
.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__title{
    color:#000;
    font-size: 23px;
    margin-left: 20px;
    margin-top: -20px;;
}

/******************************Independent Class******************************/
.block{
    display: block;
}
/***************************************media-query////////////////////////////////////////*/
@media(max-height: 809px){
    .modal__open{
        top: 9%;
    }
}
@media(max-height: 704px){
    .modal__open{
        top: 10%;
    }
}
@media(max-height: 618px){
    .modal__open{
        top: 11%;
    }
}
@media(max-height: 552px){
    .modal__open{
        top: 12%;
    }
}
@media(max-width: 1752px){
    .timers{
        padding: 0 500px;
    }
}
@media(max-width: 1680px){
    .timers{
        padding: 0 450px;
    }
    .modal__open{
        left: 25%;
    }
    .modal__body{
        margin-left: 36%;
    }
}
@media(max-width: 1578px){
    .timers{
        padding: 0 400px;
    }
}
@media(max-width: 1468px){
    .timers{
        padding: 0 350px;
    }
    .modal__open{
        left: 20%;
    }
}
@media(max-width: 1368px){
    .timers{
        padding: 0 300px;
    }
    .modal__body{
        margin-left: 35%;
    }
}
@media(max-width: 1280px){
    .timers{
        padding: 0 250px;
    }
    .modal__body{
        margin-left: 33%;
    }
}
@media(max-width: 1149px){
    .timers{
        padding: 0 200px;
    }
    .modal__open{
        left: 15%;
    }
}
@media(max-width: 1050px){
    .timers{
        padding: 0 150px;
        min-width: 300px;
    }
    .timer__container{
        min-width: 300px;
    }
    .modal__body{
        margin-left: 30%;
    }
}
@media(max-width: 958px){
    .timers{
        padding: 0 100px;
    }
    .modal__open{
        left: 10%;
    }
}
@media(max-width: 852px){
    .timers{
        padding: 0 50px;
    }
    .modal__open{
        left: 5%;
    }
    .modal__body{
        margin-left: 28%;
    }
}
@media(max-width: 733px){
    .timers{
        padding: 0 25px;
    }
    .modal__body{
        margin-left: 25%;
    }
}
@media(max-width: 682px){
    .timers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timer{
        padding-bottom: 15px;
    }
    .timer__container{
        min-width: 400px;
    }
    .modal__body{
        margin-left: 24%;
    }
}
@media(max-width: 600px){
    .timer__container{
        min-width: 300px;
    }
    .timers{
        min-width: 300px;
    }
    .modal__body{
        margin-left: 22%;
    }
}


@media(max-width: 852px){
    .timetable__top{
        flex-direction: column;
        align-items: center;
    }
    .timetable__item{
        min-width: 500px;
        padding-bottom: 25px;
    }
}
@media (max-width: 630px){
    .header__title{
        font-size: 40px;
    }
}
@media (max-width: 555px){
    .timetable__item{
        min-width: 300px;
    }
    .header__title{
        font-size: 33px;
    }
    .lesson{
        font-size: 30px;
        padding-bottom: 18px;
    }
    .modal__open{
        font-size: 15px;
    }
    .modal__body{
        margin-left: 19%;
    }
}
@media(max-width: 528px){
    .modal__body{
        margin-left: 15%;
    }
}
@media(max-width: 462px){
    .modal__body{
        margin-left: 12%;
    }
}
@media (max-width: 440px){
    .header__title{
        font-size: 30px;
    }
    .lesson{
        font-size: 28px;
    }
    .lesson::before{
        font-size: 15px;
    }
    .modal__open{
        font-size: 13px;
    }
    .modal__body{
        margin-left: 10%;
    }
}
@media(max-width: 420px){
    .modal__body{
        margin-left: 8%;
    }
}
@media(max-width: 404px){
    .modal__body{
        margin-left: 6%;
    }
}
@media(max-width: 386px){
    .modal__body{
        margin-left: 4%;
    }
}
@media(max-width: 372px){
    .modal__body{
        margin-left: 2%;
    }
}
@media(max-width: 362px){
    .modal__body{
        margin-left: 0%;
    }
}
@media (max-width: 394px){
    .header__title{
        font-size: 27px;
    }
    .lesson{
        font-size: 24px;
    }
}

@media (max-width: 354px){
    .header__title{
        font-size: 25px;
    }
    .modal__open{
        font-size: 11px;
    }
    .modal__item{
        font-size: 15px;
    }
}
@media (max-width: 332px){
    .header__title{
        font-size: 23px;
    }
}