html, body{
    height: 100%;
}
body{
    background: linear-gradient(90deg, #135872 , #5fc3e4 , #045766);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
    position: relative;
    margin: 0;
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.wrapper{
    max-width: 822px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__title{
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 5px;
    border-bottom: 3px solid white;
    background: url(img/title-animation.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

.timetable__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.timetable__item {
    min-width: 264px;
}
.item__title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: rgb(83, 85, 218);
    position: relative;
}
.item__title-zvonki{
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: rgb(28, 106, 158);
}
.item__column {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgb(78 44 44 / 19%);
}
.column__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 392px;
    padding-top: 25px;
}

.nextDay::before{
    content: 'Завтра';
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 13px;
    color: rgba(11, 21, 167, 0.76);
}

.list__item {
    font-size: 24px;
    line-height: 33px;
}
.list__item:not(last-child){
    margin-bottom: 18px;
}
.list__item:last-child{
    padding-bottom: 10px;
}
.green{
    color:rgb(116, 200, 5);
    border: 1px solid green;
    border-radius: 10px;
}
.red{
    color: rgb(255 104 104);
    border: 1px solid red;
    border-radius: 10px;
}
.lesson{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: rgb(255 66 66);
    border-bottom: 3px dashed rgb(71 199 221 / 80%);
    position: relative;
}
.lesson::before{
    content:'Сейчас:';
    font-size: 20px;
    margin-right: 10px;
    color:#FD746C;
    position: absolute;
    top: -12px;
}
.italic{
    font-style: italic;
}
/***************************************media-query////////////////////////////////////////*/
@media(max-width: 852px){
    .timetable__top{
        flex-direction: column;
        align-items: center;
    }
    .timetable__item{
        min-width: 500px;
        padding-bottom: 25px;
    }
}
@media (max-width: 630px){
    .header__title{
        font-size: 40px;
    }
}
@media (max-width: 555px){
    .timetable__item{
        min-width: 300px;
    }
    .header__title{
        font-size: 33px;
    }
    .lesson{
        font-size: 30px;
        padding-bottom: 18px;
    }
}
@media (max-width: 440px){
    .header__title{
        font-size: 30px;
    }
    .lesson{
        font-size: 28px;
    }
    .lesson::before{
        font-size: 15px;
    }
}
@media (max-width: 394px){
    .header__title{
        font-size: 27px;
    }
    .lesson{
        font-size: 24px;
    }
}

@media (max-width: 354px){
    .header__title{
        font-size: 25px;
    }
}
@media (max-width: 332px){
    .header__title{
        font-size: 23px;
    }
}